<%- include('components/page-top', { title: 'Referências e Podcast', stylesheets: ['/css/docs.css'], wrapperOpen: '<div class=\"container py-4 with-sidebar\">' }) %>
            <h2 class="mb-4 text-center"><i class="fa-solid fa-book"></i> Referências</h2>

	            <div class="card doc-card">
	                <div class="card-body">
	                    <h4 class="doc-section-title"><i class="fa-solid fa-podcast"></i> Podcast: Estrutura de Dados</h4>
	                    <div class="doc-desc">Ouça um episódio introdutório sobre estruturas de dados, incluindo conceitos e
	                        aplicações práticas.</div>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/cairo-aparecido-campos/podcast-estrutura-de-dados&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                    </iframe>
                    <div class="sc-embed-meta">
                        <a href="https://soundcloud.com/cairo-aparecido-campos" title="Cairo Aparecido Campos"
                            target="_blank" rel="noopener noreferrer"
                            >Cairo
                            Aparecido Campos</a> ·
                        <a href="https://soundcloud.com/cairo-aparecido-campos/podcast-estrutura-de-dados"
                            title="Podcast Estrutura de Dados" target="_blank" rel="noopener noreferrer"
                            >Podcast Estrutura de Dados</a>
                    </div>
                </div>
            </div>

	            <div class="doc-divider"></div>

	            <div class="card doc-card">
	                <div class="card-body">
	                    <h4 class="doc-section-title"><i class="fa-solid fa-gears"></i> Funcionamento</h4>
	                    <div class="doc-desc">Guias, artigos e materiais teóricos para entender o funcionamento do
	                        DSU/Union-Find, desde a base até otimizações como Union by Rank e Path Compression.</div>
	                    <ul class="list-group mb-3">
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://leetcode.com/discuss/post/1072418/disjoint-set-union-dsuunion-find-a-compl-2oqn/"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-book"></i> LeetCode
                                Discuss:
                                Disjoint Set Union (Union-Find) - Guia Completo</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://cp-algorithms.com/data_structures/disjoint_set_union.html" target="_blank"
	                                rel="noopener noreferrer"><i class="fa-solid fa-book"></i> CP-Algorithms: Disjoint Set
                                Union</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.geeksforgeeks.org/dsa/introduction-to-disjoint-set-data-structure-or-union-find-algorithm/"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-book"></i>
                                GeeksforGeeks:
                                Introdução ao Disjoint Set</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.geeksforgeeks.org/dsa/union-by-rank-and-path-compression-in-union-find-algorithm/"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-book"></i>
                                GeeksforGeeks:
                                Union by Rank e Path Compression</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://yuminlee2.medium.com/union-find-algorithm-ffa9cd7d2dba" target="_blank"
	                                rel="noopener noreferrer"><i class="fa-brands fa-medium"></i> Medium: Union-Find
                                Algorithm</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.cs.princeton.edu/courses/archive/spring13/cos423/lectures/UnionFind.pdf"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-regular fa-file-pdf"></i>
                                Princeton:
                                Union-Find (PDF)</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.ime.usp.br/~pf/analise_de_algoritmos/aulas/union-find.html"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-book"></i> IME-USP:
                                Union-Find</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="http://linkedin.com/pulse/dsu-disjoint-set-union-union-find-algorithm-theory-examples-manolov-fdy1f"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i>
                                LinkedIn:
                                DSU - Teoria e Exemplos</a></li>
                    </ul>
                </div>
            </div>

	            <div class="doc-divider"></div>

	            <div class="card doc-card">
	                <div class="card-body">
	                    <h4 class="doc-section-title"><i class="fa-solid fa-diagram-project"></i> Utilização em Aplicações
	                    </h4>
	                    <div class="doc-desc">Exemplos de uso do DSU em bibliotecas, frameworks e aplicações reais,
	                        incluindo
	                        código-fonte e documentação.</div>
	                    <ul class="list-group mb-3">
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://docs.kernel.org/core-api/union_find.html" target="_blank"
	                                rel="noopener noreferrer"><i class="fa-brands fa-linux"></i> Linux Kernel Docs:
                                union_find</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.boost.org/doc/libs/1_65_1/libs/disjoint_sets/disjoint_sets.html"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-cubes"></i> Boost C++:
                                disjoint_sets</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://networkx.org/documentation/stable/_modules/networkx/utils/union_find.html"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-network-wired"></i>
                                NetworkX: union_find</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://algs4.cs.princeton.edu/lectures/keynote/15UnionFind.pdf" target="_blank"
	                                rel="noopener noreferrer"><i class="fa-regular fa-file-pdf"></i> Princeton: Union-Find
                                em
                                Algoritmos (PDF)</a></li>
                    </ul>
                </div>
            </div>

	            <div class="doc-divider"></div>

	            <div class="card doc-card">
	                <div class="card-body">
	                    <h4 class="doc-section-title"><i class="fa-brands fa-youtube"></i> Vídeos</h4>
	                    <div class="doc-desc">Vídeos e playlists para aprender visualmente sobre DSU, com explicações,
	                        exemplos
	                        práticos e animações.</div>
	                    <ul class="list-group">
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.youtube.com/playlist?list=PLDV1Zeh2NRsBI1C-mR6ZhHTyfoEJWlxvq"
	                                target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i> Playlist:
                                Union-Find (WilliamFiset)</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.youtube.com/watch?v=ayW5B2W9hfo" target="_blank"
	                                rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i> Union Find -
                                Path Compression & Union by Rank</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.youtube.com/watch?v=92UpvDXc8fs" target="_blank"
	                                rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i> Union Find -
                                Intuição e Implementação</a></li>
	                        <li class="list-group-item"><a class="doc-link"
	                                href="https://www.youtube.com/watch?v=z3X7Zt_zWSM" target="_blank"
	                                rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i> Union Find -
                                Exemplo Prático</a></li>
                    </ul>
                </div>
            </div>
<%- include('components/page-bottom', { wrapperClose: '</div>' }) %>
